BODY {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
.wenbenkuang {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #333333 1px solid; COLOR: #333333; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: "宋体"
}
.wenbenkuang2 {
	FONT-SIZE: 9pt; COLOR: #333333; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #333333 thin solid; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
.wenbenkuang1 {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #333333 1px solid; COLOR: #333333; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #bdcbd6
}
.wenbenkuang3 {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12pt; BORDER-LEFT: #333333 1px solid; COLOR: #333333; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #bdcbd6
}
.wenbenkuangselect {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 12pt; BORDER-LEFT: #333333 1px solid; WIDTH: 150px; COLOR: #333333; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #bdcbd6
}
.wenbenkuangselect1 {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #333333 1px solid; WIDTH: 150px; COLOR: #333333; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #bdcbd6
}
.go-wenbenkuang {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 19px; BACKGROUND-COLOR: #9caab5
}
.go-wenbenkuang1 {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 1px; BORDER-TOP: medium none; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: medium none; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: medium none; FONT-FAMILY: "宋体"; HEIGHT: 25px; BACKGROUND-COLOR: #216184
}
.go-wenbenkuang2 {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 1px; BORDER-TOP: medium none; PADDING-LEFT: 1px; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; BORDER-LEFT: medium none; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: medium none; FONT-FAMILY: "宋体"; HEIGHT: 18px; BACKGROUND-COLOR: #bdcbd6
}
.fonts {
	FONT-SIZE: 12px; TEXT-DECORATION: blink
}
BODY {
	SCROLLBAR-FACE-COLOR: #297194; BACKGROUND-IMAGE: url(images/bg.gif); SCROLLBAR-HIGHLIGHT-COLOR: #185584; CURSOR: url('images/mouse.ani'); SCROLLBAR-SHADOW-COLOR: #185584; SCROLLBAR-3DLIGHT-COLOR: #cccccc; SCROLLBAR-ARROW-COLOR: #cccccc; SCROLLBAR-TRACK-COLOR: #185584; SCROLLBAR-DARKSHADOW-COLOR: #cccccc
}
